*{box-sizing:content-box;padding:0;margin:0;}
html,body,#root,#App{width:100vw;height:100vh;position:relative;scroll-behavior:smooth;overflow-y: overlay;}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
:root{
    --bodyBackground:rgb(32 32 217 / 70%);
    --boxShadow:rgb(99, 100, 116);
    --onloadAnimationDelay:0.55s;
    --textColor:#cbc4c4;
    --violet-border-color:rgb(37 32 217 / 80%);
}
li:hover{
    color:white;
    font-size:1.01rem;
    list-style:square;
}
.cubeSide:hover{
    opacity:1 !important;
    border-color:rgb(207, 66, 66) !important;
}
.singleContactMethod div:hover{
    border-color:black !important;
    border-radius:20% !important;
    scale:120% !important;
}